@model RepairShop.Models.TicketCounter
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RepairShop</h1>
    <h2>Ticket stats:</h2>
    <p>Active: @Model.ActiveCount</p>
    <p>Completed: @Model.CompletedCount</p>
    <p>Total: @Model.TotalCount</p>
</div>
